body {
    margin: 0 0;
    padding: 0 0;
}

.load {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    transition: top 500ms ease-out;
    z-index: 100000;
    overflow: hidden;
}

.load-bar {
    position: absolute;
    height: 6px;
    left: calc(50% - 125px);
    bottom: calc(50% - 3px);
    width: 250px;
    overflow: hidden;
    background: #dadada;
    animation: shrink 500ms 7000ms forwards;
    -webkit-animation: shrink 500ms 7000ms forwards;
    z-index: 200;
}

.under-bar {
    position: absolute;
    height: 6px;
    left: calc(50% - 250px);
    bottom: calc(50% - 100px);
    width: 0;
    background: #dadada;
    animation: grow 2500ms 7000ms forwards;
    -webkit-animation: grow 2500ms 7000ms ease forwards;
}

@keyframes shrink {
    from {
        left: calc(50% - 125px);
        bottom: calc(50% - 3px);
        width: 250px;
    }
    99% {
        left: calc(50% - 125px);
        bottom: calc(50% - 3px);
        width: 0;
    }
    to {
        left: calc(50% - 250px);
        bottom: calc(50% - 100px);
        width: 0;
    }
}

@-webkit-keyframes shrink {
    from {
        left: calc(50% - 125px);
        bottom: calc(50% - 3px);
        width: 250px;
    }
    99% {
        left: calc(50% - 125px);
        bottom: calc(50% - 3px);
        width: 0;
    }
    to {
        left: calc(50% - 250px);
        bottom: calc(50% - 100px);
        width: 0;
    }
}

@keyframes grow {
    from {
        left: calc(50% - 250px);
        bottom: calc(50% - 100px);
        width: 0;
    }
    60% {
        left: calc(50% - 250px);
        bottom: calc(50% - 100px);
        width: 0;
    }
    80% {
        left: calc(50% - 250px);
        bottom: calc(50% - 100px);
        width: 500px;
    }
    to {
        left: calc(50% - 250px);
        bottom: calc(50% - 100px);
        width: 500px;
    }
}

@-webkit-keyframes grow {
    from {
        left: calc(50% - 250px);
        bottom: calc(50% - 100px);
        width: 0;
    }
    60% {
        left: calc(50% - 250px);
        bottom: calc(50% - 100px);
        width: 0;
    }
    80% {
        left: calc(50% - 250px);
        bottom: calc(50% - 100px);
        width: 500px;
    }
    to {
        left: calc(50% - 250px);
        bottom: calc(50% - 100px);
        width: 500px;
    }
}

.load-bar::before{
    position: absolute;
    content: "";
    left: -20%;
    width: 0;
    height: 6px;
    background-color: #aaa;
    -webkit-animation:  loadFast 5000ms forwards;
    animation: loadFast 5000ms forwards;
}

.load-bar::after{
    position: absolute;
    content: "";
    left: -50%;
    width: 0;
    height: 6px;
    background-color: #000;
    -webkit-animation:  loading 5000ms forwards;
    animation: loading 5000ms forwards;
}

@keyframes loading {
    from {
        width: 50%;
    }
    50% {
        width: 100%;
    }
    80% {
        width: 170%;
        opacity: 1;
    }
    to {
        width: 200%;
        opacity: 0;
    }
}

@-webkit-keyframes loading {
    from {
        width: 50%;
    }
    50% {
        width: 100%;
    }
    80% {
        width: 170%;
        opacity: 1;
    }
    to {
        width: 200%;
        opacity: 0;
    }
}

@keyframes loadFast {
    from {
        width: 50%;
    }
    50% {
        width: 120%;
    }
    80% {
        width: 170%;
        opacity: 1;
    }
    to {
        width: 220%;
        opacity: 0;
    }
}

@-webkit-keyframes loadFast {
    from {
        width: 80%;
    }
    50% {
        width: 120%;
    }
    80% {
        width: 190%;
        opacity: 1;
    }
    to {
        width: 220%;
        opacity: 0;
    }
}

.hideBox {
    position: fixed;
    width: 500px;
    height: 500px;
    left: calc(50% - 250px);
    top: calc(50% + 1.5px);
    background: #eee;
    z-index: 100;
    animation: unHide 0ms 6000ms forwards;
    -webkit-animation: unHide 0ms 6000ms forwards;
}

@keyframes unHide {
    from {
        height: 500px;
    }
    to {
        height: 0;
    }
}

@-webkit-keyframes unHide {
    from {
        height: 500px;
    }
    to {
        height: 0;
    }
}

.logoAboveTitle svg {
    margin-top: 10px;
    position: absolute;
    width: 225px;
    left: calc(50% - 112.5px);
    bottom: calc(50% - 3px);
    overflow: visible;
}

#Logo {
    transform: translateY(1000px);
    animation: popUp 1000ms 5000ms forwards;
    -webkit-transform: translateY(1000px);
    -webkit-animation: popUp 1000ms 5000ms forwards;

}

@keyframes popUp {
    from {
        transform: translateY(1000px);
    }
    to {
        transform: translateY(0);
    }
}

@-webkit-keyframes popUp {
    from {
        -webkit-transform: translateY(1000px);
    }
    to {
        -webkit-transform: translateY(0);
    }
}

.titleContainer svg {
    margin-top: 15px;
    position: absolute;
    width: 500px;
    left: calc(50% - 250px);
    top: calc(50% - 3px);
}

#Title {
    opacity: 0;
    animation: show 500ms 8000ms forwards;
    -webkit-animation: show 500ms 8000ms forwards;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*#totalPencil {
    transform-origin: 50% 50%;
    animation: drawUnderlineRotate 5000ms 7000ms forwards;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: drawUnderlineRotate 5000ms 7000ms forwards;
}

@keyframes drawUnderlineRotate {
    from {
        transform: rotate(0) translate(0, 0);
    }
    20% {
        transform: rotate(90deg) translate(0, 0);
    }
    60% {
        transform: rotate(90deg) translate(400px, 380px);
    }
    80% {
        transform: rotate(90deg) translate(400px, -908px);
    }
    to{
        transform: rotate(0) translate(0, 0);
    }
}

@-webkit-keyframes drawUnderlineRotate {
    from {
        -webkit-transform: rotate(0) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(90deg) translate(0, 0);
    }
    60% {
        -webkit-transform: rotate(90deg) translate(400px, 380px);
    }
    80% {
        -webkit-transform: rotate(90deg) translate(400px, -908px);
    }
    to{
        -webkit-transform: rotate(0) translate(0, 0);
    }
}*/

.enterSite svg{
    cursor: pointer;
    position: absolute;
    width: 100px;
    left: calc(50% - 50px);
    bottom: 50px;
    animation: pullUp 500ms 8500ms forwards;
    -webkit-animation: pullUp 500ms 8500ms forwards;

}

@keyframes pullUp {
    from {
        bottom: 50px;
    }
    to {
        bottom: calc(50% - 180px);
    }
}

@-webkit-keyframes pullUp {
    from {
        bottom: 50px;
    }
    to {
        bottom: calc(50% - 180px);
    }
}

.enterSite svg path:hover {
    transition: fill 2000ms ease;
    fill: #1b80b4;
}
