@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,100italic,300italic,400italic,500italic,700italic,900italic,900&subset=latin,latin-ext);
body {
    font-family: 'Roboto', sans-serif;
}

.content {
    height: 100vh;
    width: 100%;
    background: #2d2d2d;
    z-index: -1;
}

.nav {
    position: fixed;
    height: 100%;
    width: 106px;
    z-index: 50;
}

#navbar-about, #navbar-events, #navbar-people, #navbar-submit {
    height: 100px;
    width: 100px;
    background: #fff;
    z-index: 50;
}

.aboutCover, .eventsCover, .peopleCover, .submitCover {
    position: fixed;
    height: 100px;
    width: 100px;
    z-index: 80;
    left: 0;
    cursor: pointer;
}

.aboutCover-small, .eventsCover-small, .peopleCover-small, .submitCover-small {
    display: none;
}

#navbar-innerFull {
    position: fixed;
    width: 100px;
    height: calc(100% - 400px);
    top: 400px;
    left: 0;
    background: #fff;
    z-index: 50;
}

.aboutSide, .eventSide, .peopleSide, .submitSide {
    position: absolute;
    height: 100px;
    width: 6px;
    left: 100px;
    z-index: 50;
}

#about, #people, #events, #submit {
    height: 0px;
    transition: height 500ms 1000ms ease;
    margin: 24px 25px;
}

.aboutCover:hover + #navbar-about .aboutSide {
    background: #cf3b3b;
    transition: background 500ms ease;
}

.eventsCover:hover + #navbar-events .eventSide {
    background: #ffcb53;
    transition: background 500ms ease;
}

.peopleCover:hover + #navbar-people .peopleSide {
    background: #177bf3;
    transition: background 500ms ease;
}

.submitCover:hover + #navbar-submit .submitSide {
    background: #2fd271;
    transition: background 500ms ease;
}

/*
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Page specifics
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

#surveyNotice {
    display: none;
    position: absolute;
    cursor: pointer;
    width: 200px;
    height: 51px;
    top: 0;
    right: 0;
    border-bottom-left-radius: 20px;
    background: #fff;
    z-index: 500;
    overflow: hidden;
}

#surveyNotice p {
    position: relative;
    text-align: center;
    color: #4177b6;
    z-index: 499;
}

#surveyNotice::before, #surveyNotice::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: rgba(191, 191, 191, 0.2);
    transition: width 500ms ease-in, height 500ms ease-in;
    z-index: 490;
}

#surveyNotice::before{
    content: "";
    top: -99.5px;
    right: -25px;
}

#surveyNotice::after{
    content: "";
    bottom: -99.5px;
    left: -25px;
}

#surveyNotice:hover::before {
    width: 250px;
    height: 250px;
}

#surveyNotice:hover::after {
    width: 250px;
    height: 250px;
}

#survey {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #1d1d1d;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    overflow: hidden;
}

#survey input {
    position: absolute;
    left: calc(50% - 300px);
    width: 800px;
    height: 100px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #1e5b8c;
    border-bottom: 5px solid #181818;
    padding: 10px 5px;
    font-size: 4em;
    transition: border-bottom 500ms ease-out;
}

#survey li {
    display: block;
    position: absolute;
    left: calc(50% - 400px);
    list-style-type: none;
    width: 800px;
    height: 100px;

}

#survey #name {
    bottom: calc(50% - 50px);
    transition: bottom 1000ms ease;
}

#survey #email, #survey #next, #survey #submit {
    bottom: -200%;
    transition: bottom 1000ms ease;
}

#survey input:focus {
    border-bottom: 5px solid #000;
    outline-width: 0;
}

#survey input::-moz-placeholder {
    color: #171717;
}

#survey input::-webkit-input-placeholder {
    color: #171717;
}

#survey label {
    position: absolute;
    top: calc(50% - 120px);
    left: calc(50% - 300px);
    font-weight: 900;
    color: #fff;
    font-size: 3em;
}

/*-----------------Title Page-----------------*/

#titlePage {
    position: fixed;
    height: 100%;
    width: calc(100% - 100px);
    left: 100px;
    top: 0;
    background-color: #2d2d2d;
    z-index: 0;
    overflow: hidden;
    transition: background-color 4000ms ease;
}

#titlePage h1 {
    position: absolute;
    top: 40%;
    left: calc(50% - 5ch);
    color: #fff;
    font-size: 10ch;
    padding-bottom: 10px;
}

#titlePage h1::after {
    content: " ";
    display: block;
    position: absolute;
    left: 1.2ch;
    bottom: 0;
    height: 6px;
    width: 0;
    background: #222;
    transition: width 250ms ease-in-out, left 250ms ease-in-out;
}

#titlePage h1:hover::after {
    width: 100%;
    left: 0;
}

#titlePage .notice {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #ff5544;
}

#titlePage h3 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 2ch;
    text-align: center;
}

#titlePage span {
    cursor: pointer;
    color: #ffcb53;
}

#titlePage span:hover {
    color: #3c372b;
}

#titlePage svg {
    width: 300px;
    position: absolute;
    bottom: 50%;
    left: calc(50% - 150px);
    overflow: visible;
    opacity: 0.5;
}

#titlePage svg #totalPencilTitle {
    transform-origin: 50% 50%;
    animation: shake 1000ms alternate-reverse infinite;
}

@keyframes shake {
    from {
        transform: rotate(0);
    }
    10% {
        transform: rotate(-9deg);
    }
    to {
        transform: rotate(0);
    }
}

.load {
    display: none;
}

/*--------------------------------------------*/

#aboutPage, #eventsPage, #peoplePage, #submitPage {
    position: absolute;
    height: 892px;
    width: 0;
    left: 100px;
    top: 0;
    transition: width 500ms ease, color 1000ms ease;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#aboutPage h2, #eventsPage h2, #peoplePage h2, #submitPage h2 {
    font-weight: 300;
    text-transform: lowercase;
}


/*-----------------About Page-----------------*/

#aboutPage {
    background: #cf3b3b;
}

/*--------------------------------------------*/

/*-----------------Events Page-----------------*/

#eventsPage {
    background: #ffcb53;
}

#eventsPage .eventsPageContent {
    position: absolute;
    width: 400px;
    height: 300px;
    bottom: calc(50% - 150px);
    left: calc(50% - 200px);
}

#eventsPage .eventsPageContent h1 {
    padding: 6px 0;
    border-bottom: 3px solid #fff;
}

#eventsPage .eventsPageContent #date {
    margin: 10px 0;
    padding: 15px 0;
    background: #1d1d1d;
    color: rgba(255, 255, 255, 0.8);
}

#eventsPage .eventsPageContent #new {
    margin: 10px 0;
    padding: 15px 0;
    background: #1d1d1d;
    color: rgba(255, 255, 255, 0.8);
    border: 5px solid #c84d41;
}

#eventsPage .eventsPageContent #new:hover::after {
    content:"new";
    color: #d14343;
    border: 2px dashed #d14343;
    margin: 0 10px;
    padding: 0 5px;
}

#eventsPage .eventsPageContent strong{
    color: #fff;
}

/*---------------------------------------------*/

/*-----------------People Page-----------------*/

#peoplePage {
    background: #177bf3;
}

/*---------------------------------------------*/

/*-----------------Submit Page-----------------*/

#submitPage {
    background: #2fd271;
}

#submitPage h3 {
    font-weight: 200;
}

#submitPage a {
    color: #048704;
    text-decoration: none;
}

/*---------------------------------------------*/
