@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,100italic,300italic,400italic,500italic,700italic,900italic,900&subset=latin,latin-ext);
body {
    font-family: 'Roboto', sans-serif;
}

.content {
    height: 100vh;
    width: 100%;
    background: #2d2d2d;
    z-index: -1;
}

.titlePage {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 100px;
    z-index: 0;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    overflow: hidden;
}

.nav {
    position: fixed;
    height: 106px;
    width: 100%;
    z-index: 50;
    overflow: hidden;
}

#navbar-about, #navbar-events, #navbar-people, #navbar-submit {
    position: absolute;
    display: table-cell;
    margin: 0 0;
    height: 100px;
    width: 100px;
    top: 0;
    background: #fff;
    z-index: 50;
}

.aboutCover, .eventsCover, .peopleCover, .submitCover {
    display: none;
}

.aboutCover-small, .eventsCover-small, .peopleCover-small, .submitCover-small {
    position: fixed;
    height: 100px;
    width: 100px;
    z-index: 80;
    top: 0;
    cursor: pointer;
}

#navbar-about, .aboutCover-small, #about {
    left: 0;
}

#navbar-events, .eventsCover-small, #events {
    left: 100px;
}

#navbar-people, .peopleCover-small, #people {
    left: 200px;
}

#navbar-submit, .submitCover-small, #submit {
    left: 300px;
}

#navbar-innerFull {
    position: fixed;
    height: 100px;
    width: calc(100% - 400px);
    left: 400px;
    top: 0;
    background: #fff;
    z-index: 50;
}

.aboutSide, .eventSide, .peopleSide, .submitSide {
    position: absolute;
    height: 6px;
    width: 100px;
    top: 100px;
    z-index: 50;
}

#about, #people, #events, #submit {
    position: absolute;
    top: 0;
    height: 0px;
    transition: height 500ms 1000ms ease;
    margin: 25px 25px;
}

.aboutCover-small:hover + #navbar-about .aboutSide {
    background: #cf3b3b;
    left: 0;
    transition: background 500ms ease;
}

.eventsCover-small:hover + #navbar-events .eventSide {
    background: #ffcb53;
    left: 100px;
    transition: background 500ms ease;
}

.peopleCover-small:hover + #navbar-people .peopleSide {
    background: #177bf3;
    left: 200px;
    transition: background 500ms ease;
}

.submitCover-small:hover + #navbar-submit .submitSide {
    background: #2fd271;
    left: 300px;
    transition: background 500ms ease;
}

#aboutPage, #eventsPage, #peoplePage, #submitPage {
    position: absolute;
    height: 0;
    width: 100%;
    top: 100px;
    left: 0;
    transition: height 500ms ease, color 1000ms ease;
    z-index: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0);
    overflow-x: hidden;
    overflow-y: scroll;
}

#aboutPage {
    background: #cf3b3b;
}

#eventsPage {
    background: #ffcb53;
}

#peoplePage {
    background: #177bf3;
}

#submitPage {
    background: #2fd271;
}
