@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,100italic,300italic,400italic,500italic,700italic,900italic,900&subset=latin,latin-ext);
body {
    font-family: 'Roboto', sans-serif;
    margin: 0 0;
    overflow: hidden;
}

.nav {
    display: table;
    position: fixed;
    background: rgba(0, 0, 0, 0);
    height: 75px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    transition: background 0.5s ease;
}

.navMiddle {
    display: table-cell;
    vertical-align: middle;
    margin: 0 0;
    padding: 0 0;
}

.nav svg {
    width: 0;
}

#navLogo {
    cursor: pointer;
    float: left;
    display: inline;
    margin: 0 10px;
}

#navLogo h1 {
    color: #fff;
    font-weight: 400;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#navLogo a {
    text-decoration: none;
}

#navLinks {
    cursor: pointer;
    display: inline;
    float: right;
    margin: 25px 88px;
}

#navLinks li {
    display: inline;
    margin: 0 20px;
    transition: border 0.5 ease-in;
}

#navLinks li:hover {
    border-bottom: 2px solid #fff;
}

#navLinks a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 200;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navSide {
    height: 0;
    opacity: 0;
    width: 0;
}


.container {
    display: table;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background: url(Background.svg);
    background-color: #168cc9;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    color: #f1f1f1;
    text-align: center;
    margin: 0 0;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    margin: 0 0;
    padding: 20vh 0 0;
}

.middle #svg {
    width: 717px;
    height: 283px;
    margin: 0 0;
    z-index: 1;
}

#svg2 {
    width: 50px;
    animation: move 2s ease-out infinite;
}

@keyframes move{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes move{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.middle h1 {
    margin: 0 0;
    font-size: 100px;
    color: #f1f1f1;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
    transform: translateY(-180%);
}

.content div {
    background: #f1f1f1;
    height: 50vh;
    width: 100%;
    border: 2px solid #222;
    overflow: hidden;
}

footer h1 {
    font-weight: 100;
    text-align: center;
}

@media screen and (max-width: 930px) {
    .nav {
        background: #000!important;
    }

    .nav svg {
        width: 30px;
        margin: 25px 10px;
    }

    #Menu {
        fill:#fff;
        transition: fill 0.5s ease;
    }

    #Menu:hover, #Menu:active, .navSide:hover + #Menu {
        fill: #168cc9;
    }

    #navLinks {
        display: none;
    }

    .navSide {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 30vw;
        background: #e4e4e4;
        opacity: 0;
        z-index: 200;
        transition: right 0.3s ease-out, opacity 0.3s ease-out;
    }

    .navSide li {
        margin: 20px 0;
        list-style-type: none;
    }

    .navSide a {
        font-size: 25px;
        color: #222;
        text-decoration: none;
    }

    .navSide a:hover, .navSide a:active {
        text-shadow: 3px 3px #aaa;
    }

    .cover {
        position: fixed;
        top: -100%;
        left: 0;
        height: 100vh;
        width: 100vw;
        opacity: 0;
        background: #000;
        z-index: 150;
        transition: opacity 0.3s ease;
    }

}

@media screen and (max-width: 750px) {
    .middle #svg {
        width: 500px;
    }
    .middle h1 {
        font-size: 60px;
        transform: translateY(-20%);
    }
}

@media screen and (max-width: 600px) {
    #navLogo {
        display: none;
    }

    .middle #svg {
        width: 400px;
        margin-bottom: 10px;
    }

    .middle h1 {
        font-size: 30px;
        transform: translateY(-200%);
    }
    .navSide {
        top: 78px;
        height: 100vh;
        width: 100vw;
        opacity: 0;
    }

}

@media screen and (max-width: 500px) {
    body {
        display: none;
    }

}
