@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,100italic,300italic,400italic,500italic,700italic,900italic,900&subset=latin,latin-ext);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 0;
}

.nav {
    display: table;
    position: fixed;
    background: rgba(0, 0, 0, 0);
    height: 75px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    transition: background 0.5s ease;
}

.navMiddle {
    display: table-cell;
    vertical-align: middle;
    margin: 0 0;
    padding: 0 0;
}

.nav svg {
    width: 0;
}

#k {
    cursor: pointer;
    float: left;
    display: inline;
    margin: 0 10px;
}

#k h1 {
    color: #fff;
    font-weight: 400;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#k a {
    text-decoration: none;
}

#j {
    cursor: pointer;
    display: inline;
    float: right;
    margin: 25px 88px;
}

#j li {
    display: inline;
    margin: 0 20px;
    transition: border 0.5 ease-in;
}

#j li:hover {
    border-bottom: 2px solid #fff;
}

#j a {
    display: inline;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 200;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    display: table;
    height: 100vh;
    width: 100%;
    background: #168cc9;
    color: #f1f1f1;
    text-align: center;
    margin: 0 0;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    margin: 0 0;
    padding: 20vh 0 0;
}

.middle svg {
    width: 717px;
    height: 283px;
    margin: 0 0;
    z-index: 1;
}

.middle h1 {
    margin: 0 0;
    font-size: 100px;
    color: #f1f1f1;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
    transform: translateY(-180%);
}

.subhead {
    background: #f1f1f1;
    height: 100vh;
    width: 100%;
}

.other {
    background: rgba(241, 241, 241, 0.72);
    height: 80vh;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .nav {
        background: #000!important;
    }

    .nav svg {
        width: 30px;
        margin: 25px 1vw;
    }

    #j {
        display: none;
    }

}

@media screen and (max-width: 750px) {
    .middle svg {
        width: 500px;
    }
    .middle h1 {
        font-size: 60px;
        transform: translateY(-20%);
    }
}

@media screen and (max-width: 500px) {
    .nav svg {
        margin: 25px 0;
    }

    #k {
        display: none;
    }

    .middle svg {
        width: 300px;
    }

    .middle h1 {
        font-size: 30px;
        transform: translateY(-200%);
    }

    .container {
        height: 50vh;
    }
}
